<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_kotlin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKotlin"
        tools:targetApi="31">

        <activity
            android:name="${launchingActivity}"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Topic Activity -->
        <activity android:name=".Activities.FirstActivity" />
        <activity android:name=".Activities.SecondActivity" />
        <activity android:name=".Activities.ConfigChanges.ConfigChangeActivity" />

        <!-- Topic List View -->
        <activity android:name=".ListView.ListViewActivity" />

        <!-- Topic Recycler View -->
        <activity android:name=".RecyclerView.RecyclerViewActivity" />

        <!-- Topic Fragments -->
        <activity android:name=".Fragments.FragmentActivity" />

        <!-- Topic Pdf Render -->
        <activity android:name=".PdfReader.PdfReaderActivity" />

        <!-- Design patterns -->
        <activity android:name=".DesignPattern.CreationalPatterns.CreationalPatternActivity" />
        <activity android:name=".DesignPattern.StructuralPattern.StructuralPatternActivity" />
        <activity android:name=".DesignPattern.BehaviouralPatternActivity"/>

        <!-- View Model -->
        <activity android:name=".ViewModels.MyActivity" />
        <activity android:name=".ViewModels.MyActivityTwo" />

        <!--Live Data-->
        <activity android:name=".LiveData.LiveDataActivity"/>
        <activity android:name=".LiveData.LiveDataActivityTwo"/>

        <!--MVVM-->
        <activity android:name=".MVVM.MVVMActivity"/>

        <!--View Binding-->
        <activity android:name=".viewBinding.ViewBindingExampleActivity"/>

        <!--Data Binding-->
        <activity android:name=".dataBinding.DataBindingExampleActivity"/>
    </application>

</manifest>